# Client 1 summary and analysis
This aims to implement a cube and do presentation
## Cube

In [1]:
import atoti as tt

Welcome to Atoti 0.8.10!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

In [2]:
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

In [3]:
db_name = "project1"
db_user = "postgres"
db_password = "postgres"
db_host = "pgdb"
db_port = "5432"

jdbc_url = f"jdbc:postgresql://{db_host}:{db_port}/{db_name}?user={db_user}&password={db_password}"

In [4]:
MedalFacttable = session.read_sql(
    "SELECT * FROM FactOlympic",
    keys=["countryid"],
    table_name="Medaleco",
    url=jdbc_url,
)

In [5]:
dimRegiontable = session.read_sql(
    "SELECT * FROM DimRegion",
    keys=["countryid"],
    table_name="Region",
    url=jdbc_url)

In [6]:
Dimmedaltable = session.read_sql(
    "SELECT * FROM dimmedal",
    keys=["medelid"],
    table_name="sportslevel",
    url=jdbc_url
)

In [7]:
Countrysizetable = session.read_sql(
    "SELECT * FROM DimCountrySize",
    keys=["countrysizeid"],
    table_name="CountrySize",
    url=jdbc_url
)

In [8]:
AthleteorTeam = session.read_sql(
    "SELECT * FROM dimathleteteam",
    keys=["athleteteamid"],
    table_name="Athlete o rteam",
    url=jdbc_url
)

In [9]:
Wealthtable = session.read_sql(
    "SELECT * FROM DimWealth",
    keys=["wealthid"],
    table_name="Wealthlevel",
    url=jdbc_url
)

In [10]:
AthleteorTeam.head()

                           athleteorteam
athleteteamid
0              No preferance or no medal
1                                Athlete
2                                   Team

In [11]:
MedalFacttable.join(dimRegiontable, MedalFacttable["countryid"] == dimRegiontable["countryid"])

In [12]:
MedalFacttable.join(Dimmedaltable, MedalFacttable["medelid"] == Dimmedaltable["medelid"])

In [13]:
MedalFacttable.join(Countrysizetable,
                         MedalFacttable["countrysizeid"] == Countrysizetable["countrysizeid"])

In [14]:
MedalFacttable.join(Wealthtable, MedalFacttable["wealthid"] == Wealthtable["wealthid"])

In [15]:
MedalFacttable.join(AthleteorTeam, MedalFacttable["athleteteamid"] == AthleteorTeam["athleteteamid"])

In [16]:
session.tables.schema

erDiagram
  "CountrySize" {
    _ int PK "countrysizeid"
    _ String "countrysize"
  }
  "Medaleco" {
    _ long PK "countryid"
    nullable int "medelid"
    nullable int "grothid"
    nullable int "countrysizeid"
    nullable double "GDP(pc)"
    nullable int "wealthid"
    nullable int "numberofhost"
    nullable int "medel for strongest sport"
    nullable int "2021 gode medel"
    nullable double "GDPgrowth(pc)"
    nullable double "Average Athlete Medals"
    nullable double "Average Team Medals"
    nullable int "athleteteamid"
  }
  "sportslevel" {
    _ int PK "medelid"
    _ String "sportlevel"
  }
  "Region" {
    _ String "country"
    _ String "region"
    _ long PK "countryid"
  }
  "Athlete o rteam" {
    _ int PK "athleteteamid"
    _ String "athleteorteam"
  }
  "Wealthlevel" {
    _ int PK "wealthid"
    _ String "wealthlevel"
  }
  "Medaleco" }o--o| "Wealthlevel" : "`wealthid` == `wealthid`"
  "Medaleco" }o--o| "sportslevel" : "`medelid` == `medelid`"
  "Medaleco" }o--o| "Region" : "`countryid` == `countryid`"
  "Medaleco" }o--o| "CountrySize" : "`countrysizeid` == `countrysizeid`"
  "Medaleco" }o--o| "Athlete o rteam" : "`athleteteamid` == `athleteteamid`"

In [17]:
cube = session.create_cube(MedalFacttable)

In [18]:
cube

In [19]:
hierarchies, levels, measures = cube.hierarchies, cube.levels, cube.measures

In [20]:
# original hierarchies
hierarchies

{('Athlete o rteam', 'athleteorteam'): <atoti.hierarchy.Hierarchy object at 0x7fcc28533dd0>, ('Medaleco', 'countryid'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852d7d0>, ('CountrySize', 'countrysize'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852d8d0>, ('Wealthlevel', 'wealthlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852d990>, ('sportslevel', 'sportlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852da50>, ('Region', 'country'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852db50>, ('Region', 'region'): <atoti.hierarchy.Hierarchy object at 0x7fcc2852dc50>}

In [21]:
# original levels
levels

In [22]:
measures

{'contributors.COUNT': <atoti.measure.Measure object at 0x7fcc28547250>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x7fcc2851c550>, 'GDP(pc).SUM': <atoti.measure.Measure object at 0x7fcc285472d0>, 'GDP(pc).MEAN': <atoti.measure.Measure object at 0x7fcc28547310>, 'numberofhost.SUM': <atoti.measure.Measure object at 0x7fcc28547350>, 'numberofhost.MEAN': <atoti.measure.Measure object at 0x7fcc28547390>, 'medelid.SUM': <atoti.measure.Measure object at 0x7fcc285473d0>, 'medelid.MEAN': <atoti.measure.Measure object at 0x7fcc28547410>, '2021 gode medel.SUM': <atoti.measure.Measure object at 0x7fcc28547450>, '2021 gode medel.MEAN': <atoti.measure.Measure object at 0x7fcc28547490>, 'athleteteamid.SUM': <atoti.measure.Measure object at 0x7fcc285474d0>, 'athleteteamid.MEAN': <atoti.measure.Measure object at 0x7fcc28547510>, 'Average Athlete Medals.SUM': <atoti.measure.Measure object at 0x7fcc28547550>, 'Average Athlete Medals.MEAN': <atoti.measure.Measure object at 0x7fcc28547590>, 'Average Team Medals.SUM': <atoti.measure.Measure object at 0x7fcc285475d0>, 'Average Team Medals.MEAN': <atoti.measure.Measure object at 0x7fcc28547610>, 'GDPgrowth(pc).SUM': <atoti.measure.Measure object at 0x7fcc28547650>, 'GDPgrowth(pc).MEAN': <atoti.measure.Measure object at 0x7fcc28547690>, 'countrysizeid.SUM': <atoti.measure.Measure object at 0x7fcc285476d0>, 'countrysizeid.MEAN': <atoti.measure.Measure object at 0x7fcc28547710>, 'grothid.SUM': <atoti.measure.Measure object at 0x7fcc28547750>, 'grothid.MEAN': <atoti.measure.Measure object at 0x7fcc28547790>, 'wealthid.SUM': <atoti.measure.Measure object at 0x7fcc285477d0>, 'wealthid.MEAN': <atoti.measure.Measure object at 0x7fcc28547810>, 'medel for strongest sport.SUM': <atoti.measure.Measure object at 0x7fcc28547850>, 'medel for strongest sport.MEAN': <atoti.measure.Measure object at 0x7fcc28547890>}

In [23]:
hierarchies["Region"] = [levels["region"],levels["country"]]

In [24]:
hierarchies

{('Athlete o rteam', 'athleteorteam'): <atoti.hierarchy.Hierarchy object at 0x7fcc2853f590>, ('Medaleco', 'countryid'): <atoti.hierarchy.Hierarchy object at 0x7fcc28531d10>, ('CountrySize', 'countrysize'): <atoti.hierarchy.Hierarchy object at 0x7fcc28530e10>, ('Wealthlevel', 'wealthlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc285312d0>, ('sportslevel', 'sportlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc285329d0>, ('Region', 'country'): <atoti.hierarchy.Hierarchy object at 0x7fcc28532c90>, ('Region', 'Region'): <atoti.hierarchy.Hierarchy object at 0x7fcc28544050>, ('Region', 'region'): <atoti.hierarchy.Hierarchy object at 0x7fcc28544c50>}

In [25]:
del hierarchies[('Medaleco', 'countryid')]

In [26]:
del hierarchies[('Region', 'region')]
del hierarchies[('Region','country')]

In [27]:
hierarchies

{('Athlete o rteam', 'athleteorteam'): <atoti.hierarchy.Hierarchy object at 0x7fcc283703d0>, ('CountrySize', 'countrysize'): <atoti.hierarchy.Hierarchy object at 0x7fcc28371910>, ('Wealthlevel', 'wealthlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc283718d0>, ('sportslevel', 'sportlevel'): <atoti.hierarchy.Hierarchy object at 0x7fcc28371e50>, ('Region', 'Region'): <atoti.hierarchy.Hierarchy object at 0x7fcc28372790>}

In [28]:
measures

{'contributors.COUNT': <atoti.measure.Measure object at 0x7fcc28371e50>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x7fcc2852f7d0>, 'GDP(pc).SUM': <atoti.measure.Measure object at 0x7fcc28371a50>, 'GDP(pc).MEAN': <atoti.measure.Measure object at 0x7fcc283735d0>, 'numberofhost.SUM': <atoti.measure.Measure object at 0x7fcc28373d90>, 'numberofhost.MEAN': <atoti.measure.Measure object at 0x7fcc28373bd0>, 'medelid.SUM': <atoti.measure.Measure object at 0x7fcc28372410>, 'medelid.MEAN': <atoti.measure.Measure object at 0x7fcc28373f10>, '2021 gode medel.SUM': <atoti.measure.Measure object at 0x7fcc28373e50>, '2021 gode medel.MEAN': <atoti.measure.Measure object at 0x7fcc283724d0>, 'athleteteamid.SUM': <atoti.measure.Measure object at 0x7fcc28373c50>, 'athleteteamid.MEAN': <atoti.measure.Measure object at 0x7fcc28372510>, 'Average Athlete Medals.SUM': <atoti.measure.Measure object at 0x7fcc283700d0>, 'Average Athlete Medals.MEAN': <atoti.measure.Measure object at 0x7fcc283712d0>, 'Average Team Medals.SUM': <atoti.measure.Measure object at 0x7fcc28370090>, 'Average Team Medals.MEAN': <atoti.measure.Measure object at 0x7fcc283733d0>, 'GDPgrowth(pc).SUM': <atoti.measure.Measure object at 0x7fcc28373650>, 'GDPgrowth(pc).MEAN': <atoti.measure.Measure object at 0x7fcc28372750>, 'countrysizeid.SUM': <atoti.measure.Measure object at 0x7fcc28372710>, 'countrysizeid.MEAN': <atoti.measure.Measure object at 0x7fcc28372690>, 'grothid.SUM': <atoti.measure.Measure object at 0x7fcc283725d0>, 'grothid.MEAN': <atoti.measure.Measure object at 0x7fcc283705d0>, 'wealthid.SUM': <atoti.measure.Measure object at 0x7fcc28370290>, 'wealthid.MEAN': <atoti.measure.Measure object at 0x7fcc28370950>, 'medel for strongest sport.SUM': <atoti.measure.Measure object at 0x7fcc28373710>, 'medel for strongest sport.MEAN': <atoti.measure.Measure object at 0x7fcc28373d50>}

## Query 1
How many times did countries with huge population host in total?

In [29]:
cube.query(measures["numberofhost.SUM"], levels=[levels[('CountrySize', 'countrysize','countrysize')]])

            numberofhost.SUM
countrysize
Large                     35
Medium                    18
Small                      0

## Query 2
How many medals did the wealthiest continent in 2020 win at the Tokyo Olympics?

In [30]:
cube.query(measures["GDP(pc).SUM"], measures["2021 gode medel.SUM"], levels=[levels[('Region', 'Region','region')] ])

                GDP(pc).SUM 2021 gode medel.SUM
region
Africa           112,326.00                  11
Asia             488,619.00                 126
Europe         1,529,532.00                 134
North America    302,481.00                  63
Oceania          154,001.00                  29
South America     81,326.00                  11

## Query 3
What was the GDP growth rate of the country that won the most medals in 2020?

In [31]:
cube.query(measures["GDPgrowth(pc).SUM"], measures["2021 gode medel.SUM"], levels=[levels[('Region', 'Region','country')] ])

                           GDPgrowth(pc).SUM 2021 gode medel.SUM
region        country
Africa        Algeria                  -6.73                   0
              Angola                   -8.67                   0
              Benin                      .95                   0
              Botswana                -10.40                   0
              Burkina Faso              -.77                   0
...                                      ...                 ...
South America Paraguay                 -2.15                   0
              Peru                    -12.15                   0
              Suriname                -16.91                   0
              Uruguay                  -6.28                   0
              Venezuela                  .00                   1

[234 rows x 2 columns]

## Query 4
Do populous countries prefer individual or team sports?

In [32]:
measures["Choiseing Athelete"] = measures["Average Athlete Medals.SUM"] - measures["Average Team Medals.SUM"]

In [33]:
cube.query(measures["Choiseing Athelete"], levels=[levels[('CountrySize', 'countrysize','countrysize')] ])

            Choiseing Athelete
countrysize
Large                   137.82
Medium                  120.53
Small                    38.46

## Query 5
How many medals has the country that aces in individual sports won in their favorite sport?

In [38]:
cube.query(measures['medel for strongest sport.SUM'], levels=[levels[('Region', 'Region','country')], levels[('sportslevel','sportlevel','sportlevel')]])

                                      medel for strongest sport.SUM
region        country      sportlevel
Africa        Algeria      Poor                                   9
              Angola       Poor                                   0
              Benin        Poor                                   0
              Botswana     Poor                                   2
              Burkina Faso Poor                                   1
...                                                             ...
South America Paraguay     Poor                                   1
              Peru         Poor                                   3
              Suriname     Poor                                   2
              Uruguay      Poor                                   6
              Venezuela    Poor                                   6

[234 rows x 1 columns]

## Presentation

In [34]:
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

In [35]:
session.link

http://localhost:9092 (This is the session's local URL: it may not be reachable if Atoti is running on another machine.)